<div class="card" *ngIf="data">
  <div class="top-element" ><i class="material-icons" style="font-size:15em;">cloud</i>
    <h2 class="top-text">{{data.main.temp}}°C</h2>
  </div>
  <div class="data-element">
    <div><i class="material-icons" style="font-size:3em">place</i> {{countryData.country_name}}</div>
    <div><i class="material-icons" style="font-size:3em">my_location</i> {{countryData.city}}</div>
  </div>
  <p class="space-up"></p>
  <div class="data-element">
    <div>Wind <div class="data-text">{{data.wind.speed}}km/h</div></div>
    <div>Humidity <div class="data-text">{{data.main.humidity}} %</div> </div>
    <div>Pressure <div class="data-text">{{data.main.pressure}} mb</div></div>
    <div>visibility <div class="data-text">{{data.visibility/1000}} km</div></div>
  </div>

</div>
