<main *ngIf="countryData">
<div class="card" *ngIf="data">
  <div class="data-element">
    <h3>Current Weather</h3>
    <div>Feels like <div class="data-text">{{tempratureDataFeelsLike}} {{sybol}}</div></div>
  </div>
  <div class="top-element" ><i class="material-icons" style="font-size:10em;">cloud</i>
    <h2 class="top-text">{{tempratureData}} {{sybol}}</h2>
  </div>
  <div class="data-element">
    <div class="data-element"><i class="material-icons" style="font-size:3em">place</i> {{countryData.country_name}}</div>
    <div class="data-element"><i class="material-icons" style="font-size:3em">my_location</i> {{countryData.city}}</div>
  </div>
  <p class="space-up"></p>
  <div class="data-element">
    <div>Wind <div class="data-text">{{data.wind.speed}}km/h</div></div>
    <div>Humidity <div class="data-text">{{data.main.humidity}} %</div> </div>
    <div>Pressure <div class="data-text">{{data.main.pressure}} mb</div></div>
    <div>visibility <div class="data-text">{{data.visibility/1000}} km</div></div>
  </div>
<div class="buttonplacement">
  °C
  <label class="switch">
     <input type="checkbox" name="toogle" NgModel="toogle" (change) ="toogle($event)">
    <span class="slider round"></span>
  </label>°F
</div>
</div>
<div class="forcast-weather">
  <div class="small-card" *ngIf="data">
    <div class="data-element">
      <h3>Day</h3>
    </div>
    <div class="top-element" ><i class="material-icons" style="font-size:6em;">cloud</i>
    </div>
    <div class="data-element">
      <h2>{{tempratureData}} {{sybol}}</h2>
    </div>
    <p class="space-up"></p>
    <div class="data-element">
      <div>Max <div class="data-text">{{tempratureData}}° </div></div>
      <div>Min <div class="data-text">{{tempratureData}}°</div> </div>
    </div>
  </div>
  <div class="small-card" *ngIf="data">
    <div class="data-element">
      <h3>day</h3>
    </div>
    <div class="top-element" ><i class="material-icons" style="font-size:6em;">cloud</i>
    </div>
    <div class="data-element">
      <h2 >{{tempratureData}} {{sybol}}</h2>
    </div>
    <p class="space-up"></p>
    <div class="data-element">
      <div>Max <div class="data-text">{{tempratureData}}°</div></div>
      <div>Min <div class="data-text">{{tempratureData}}°</div> </div>
    </div>
  </div>


</div>
</main>
